
.login-announcement{
    margin-right: -3% !important;
    z-index: 999;
    background: rgb(23,56,125);
    background: linear-gradient(24deg, rgba(23,56,125,1) 0%, rgba(74,128,240,1) 48%, rgba(0,212,255,1) 100%);
      height: 100vh;
      padding: 25vh 5vw;
      @media screen and (max-width: 767px){
    display: none;
      }
  }
  .btn-primario{
    width: 10vw !important;
  }
  
  .login{
    height: 100vh;
    @media screen and (max-width: 767px){
      display: block;
    background: url("../../../../src/assets/images/login/front-view-young-male-student-in-white-t-shirt-wearing-black-mask-and-holding-yellow-files-on-light-blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    
    }
  }
  
  
  #slider {
      position: relative;
      width: 50%;
      height: 35vh;
      margin: 0 auto;
      font-family: 'Helvetica Neue', sans-serif;
      perspective: 1400px;
      transform-style: preserve-3d;
    }
    
    input[type=radio] {
      display: none;
      position: relative;
      top: 108%;
      left: 50%;
      width: 18px;
      height: 18px;
      margin: 0 15px 0 0;
      opacity: 0.4;
      transform: translateX(-83px);
      cursor: pointer;
    }
    
    
    input[type=radio]:nth-child(5) {
      margin-right: 0px;
    }
    
    input[type=radio]:checked {
      opacity: 1;
    }
    
    #horns{
      width: 20px!important;
      border-radius: 30px;
      @media screen and (max-width: 767px){
      display: none;
      }
    }
    
    
    #slider label {
      position: absolute;
      width: 100%;
      height: 30vh;
      color: white;
      font-size: 70px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.7s ease;
    }
    
    #slide1 {
      background-image:url('../../../assets/images/login/image-login-1.jpg');
      background-size:cover;
    }
    
    #slide2 {
      background-image:url('../../../assets/images/login/image-login-1.png');
      background-size:cover;
    }
    
    #slide3 {
      background-image:url('../../../assets/images/login/image-login-3.jpg');
      background-size:cover;
    }
    
    #slide4 {
      background: slateblue;
    }
    
    #slide5 {
      background: violet;
    }
    p{
        color: #fdfdfd;
       
    }
    .text-login{
      color: rgb(65, 65, 65);
      @media screen and (max-width: 767px){
        color: #d8d8d8;
      }
    }
  
    .carousel-caption{
      color: #fff;
      top: 50%;
    }
    .carousel{
      margin-top: 50px;
    }
    .carousel-inner{
      height: 100px;
    }
  
    .brand{
      height: 10vh;
      box-shadow: 0 0 2em rgb(221, 221, 221);
      padding: 2vh;
      width: 100%;
      @media screen and (max-width: 767px){
        display: none;
      }
    }
    .brand-mobile{
      display: none;
      @media screen and (max-width: 767px){
        display: block;
        padding-top: 2vh;
        margin-left: 2vw;
      }
    }

    .background{
      background-color: rgb(23,56,125);
    }
  
    .blur-mobile{
      @media screen and (max-width: 767px){
      -webkit-filter: blur(5px);
      filter: blur(2px) !important;
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
  
      display: f;
      
      
      position: absolute;
      
      background: rgb(23,56,125);
      background-repeat:no-repeat;
      background-size: cover;
      background-position: unset;
      height: 56vh;
      width: 95vw;
      margin: 17vh 0 0 2%;
      opacity: 0.9;
      }
    }
    .login-account{
      padding: 19vh 5vw;
      @media screen and (max-width: 767px){
        z-index: 9;
        display: block;
        position: sticky;
      }
  }
  h2{
      color: rgb(65, 65, 65);
      @media screen and (max-width: 767px){
        color: #fdfdfd;
      }
  }
  label{
      margin-right: 2em;
      @media screen and (max-width: 767px){
        display: none;
      }
  }
  input{
      width: 25vw;
      border-radius: 12px;
      @media screen and (max-width: 767px){
        width: 88vw;
        height: 6vh;
        margin-top: 1vh;
      }
  }
  hr{
    @media screen and (max-width: 767px){
      border-top: 3px solid #fdfdfd !important;
    }
  }
  .text-right{
    text-align: right;
  }
  a{
    @media screen and (max-width: 767px){
      color:#fac328;
    }
  }
  .text-cadastro{
    color: #414141;
    @media screen and (max-width: 767px){
      color: #fdfdfd;
    }
    
  }
  .row{
    @media screen and (max-width: 767px){
      display: block;
    }
  }