<div class="row">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-6 position">
    <h2 class="my-4">Bem-Vindo, usuario</h2>


    <ul class="nav nav-tabs navigator">
      <li class="nav-item">
        <a class="nav-link active" (click)="getBookKindle()" >Kindle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getBookFisics()">Fisícos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="postBookFisic()">Pdf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Teses</a>
      </li>
    </ul>

    <div class="w-100 mt-3 d-flex justify-content-between">
      <div class="w-50">
        <h6 class="my-4">Seus Livros</h6>
      </div>
      <div class="search-box">
        <input type="text" class="search-text" placeholder="Pesquisar...">
        <a class="search-btn">
          <img src="../../../assets/icons/search1.png" alt="" class="loupe-blue">
          <img src="../../../assets/icons/search.png" alt="" class="loupe-white">
        </a>
      </div>
      <div class="filter">
        <img src="../../../assets/icons/filter.png" alt="" height="25px">
      </div>
    </div>

    <div class="tab-content " id="nav-tabContent">
      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">
        <div class="d-block">
          <div class="d-flex flex-wrap container">
            <div class="card book mx-2 mt-4" style="width: 14vw;" *ngFor="let book of bookShelf$ |async">

              <div class="image">
                <img src="{{book.foto}}" class="card-img-top" alt="...">
              </div>
              <div class="card-body W-100">
                <div class="d-flex justify-content-between">
                  <p class="read">{{book.lido}}</p>
                  <img src="../../../assets/icons/more.png" alt="" height="35px">

                </div>
                <div class="d-flex justify-content-between">
                  <h6 class="card-title mt-2">{{book.titulo}}</h6>

                </div>
                <p class="card-text">{{book.autor}}</p>
                <a (click)="getBookById(book.id)" class="btn btn-primario w-100">Ver mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">

      </div>
      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">

      </div>
    </div>
  </div>

  <div class="col-md-3 position sobre" *ngIf="bookById$ |async as book">

    <h3 class="text-center my-4">Sobre o Livro</h3>
    <div class="image-about text-center">
      <img src="{{book.foto}}" class="card-img-top" alt="...">
    </div>
    <h4 class="text-center mt-4 mb-2 text-white">{{book.titulo}}</h4>
    <p class="text-center text-white">{{book.autor}}</p>
    <div class="ficha">
      <h6 class="mt-4 mb-3 text-white">Subtitulo: {{book.subtitulo}}</h6>
      <h6 class="mb-3 text-white">Cidade: {{book.cidade}}</h6>
      <h6 class="mb-3 text-white">Editora: {{book.editora}}</h6>
      <h6 class="mb-3 text-white">Lido: {{book.lido}}</h6>
      <h6 class="mb-3 text-white">Gênero: {{book.genero}}</h6>
      <h6 class="mb-3 text-white">Subgenero: {{book.subgenero}}</h6>
      <h6 class="mb-3 text-white">Idioma: {{book.idioma}}</h6>
      <div class="d-flex w-100 justify-content-between">
        <div class="info-number">
          <h6 class="text-white text-center">Edição:</h6>
          <p class="text-white text-center">{{book.edicao}}</p>
        </div>

        <div class="info-number">
          <h6 class="text-white text-center">Ano:</h6>
          <p class="text-white text-center">{{book.ano}}</p>
        </div>
        <div class="info-number">
          <h6 class="text-white text-center">Nacional ?</h6>
          <p class="text-white text-center">{{book.nacional}}</p>
        </div>
      </div>
    </div>
  </div>
</div>