$color-primary: #4a80f0;
$color-secundary: #1a1a23;
$color-tercery: #fdfdfd;




.sobre {
    background-color: rgba(23, 56, 125, 1);
    height: 100vh;
    position: fixed;
    margin-left: 76%;
}


.navigator {
    width: 26vw !important;
}

.image>img {
    width: 100%;
    height: 40vh;
}

.image-about>img {
    width: 48%;
    height: 33vh;
    border-radius: 3%;
}

.ficha {
    padding: 0 5vh;
}

.info-number {
    width: 33, 33%;
}

.search-box {
    position: absolute;
    background: #ebebeb;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-left: 28vw;
    margin-top: 1vh;
    height: 5vh;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.loupe-white {
    display: none;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 1em;
    width: 0;
    padding: 0;
    transition: 0.4s;
}

.search-box {
    position: absolute;
    background: #ebebeb;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-left: 28vw;
    margin-top: 1vh;
    height: 5vh;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.loupe-white {
    display: none;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 1em;
    width: 0;
    padding: 0;
    transition: 0.4s;
}

.search-btn {
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 40%;
    cursor: pointer;
}

.search-box:hover>.search-text {
    width: 10vw;
}

.search-box:hover>.search-btn {
    background: $color-primary;
}

.search-box:hover>.search-btn .loupe-blue {
    display: none;
}

.search-box:hover>.search-btn .loupe-white {
    display: block;
    height: 2.0vh;
    margin-top: 6px;
    margin-left: 6px;
}

.book {
    box-shadow: 7px 7px 6px#ebebeb;
}

.read {
    text-transform: uppercase;
    background-color: #4af0b9;
    color: #3d3d3d;
    padding: 10px;
    border-radius: 20px;
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 500 !important;
}
.no-read {
    text-transform: uppercase;
    background-color: #f2e202;
    color: #3d3d3d;
    padding: 10px;
    border-radius: 20px;
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 500 !important;
}

.filter {
    margin-top: 2vh;
    margin-right: 12vw;

}
.active{
    color: #4a80f0 !important;
}

.btn-delete {
    position: absolute;
    background-color: none !important;
    width: 3vw !important;
    height: 6vh !important;
    text-align: center;
    border-radius: 50%;
    margin-left: 12vw;
    z-index: 9;
    margin-top: -20px;
}

.btn-delete:hover {
    width: 3vw !important;
    height: 6vh !important;
    background-color: #F21502 !important;
    background-image: url('../../../assets/icons/lixeira-de-reciclagem.png');
    background-repeat: no-repeat;
    background-position: 60%;
    margin-left: 12vw;
    z-index: 9;
    margin-top: -20px;
    -webkit-box-shadow: -11px 15px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: -11px 15px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: -11px 15px 27px -14px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

.btn-edit {
    text-align: center;
    height: 4.5vh;
    position: absolute;
    margin-left: 10.6vw !important;
    z-index: 9;
    margin-top: -4.5vh;
    border-radius: 100%;
    background-color: #dfdfdf;
    border: none;
    -webkit-box-shadow: -11px 15px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: -11px 15px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: -11px 15px 27px -14px rgba(0, 0, 0, 1);
}
.btn-edit:hover {
    background-color: #cacaca;
}

.modal-delete {
    margin-top: 40vh !important;
}

.modal-backdrop.show {
    display: none !important;
}
.btn-more{
    background-color: $color-primary;
    height: 4vh;
    font-family: 'Lato', sans-serif;
    font-weight: 600 !important;
}
.btn-more:hover{
    background-color: #3b67c0;
    height: 4vh;
    font-family: 'Lato', sans-serif;
    font-weight: 600 !important;
}
.btn-edit:focus {
    box-shadow: none;
}
.modal-edit{
    margin-top: 10vh;
    width: 60vw !important;
}