<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9 position">
        <div class="row mt-5">
            <h2>ADICIONAR LIVRO KINDLE</h2>
            <h4>Usuario, adicione mais livros a sua biblioteca.</h4>
            <hr class="mt-4 p-1">
            <div class="d-block">
            <div class="d-flex w-100">
                <button class="btn btn-primary w-50 button" (click)=" goToKindle()">
                    <div>
                    <img src="../../../../assets/icons/e-book.png" style="width: 20%" alt="" srcset="">
                    <h5 class="mt-2">KINDLE</h5>
                </div>
                </button>
                <button class="btn btn-primary w-50 button" (click)="goToBooksFisics()">
                    <div>
                    <img src="../../../../assets/icons/e-book (1).png" style="width: 20%" alt="" srcset="">
                    <h5 class="mt-2">LIVRO FISICO</h5>
                </div>
                </button>
            </div>
            <div class="d-flex w-100 mt-5">
                <button class="btn btn-primary w-50 button" (click)="goToPdf()">
                    <div>
                    <img src="../../../../assets/icons/pdf.png" style="width: 20%" alt="" srcset="">
                    <h5 class="mt-2">PDF</h5>
                </div>
                </button>
                <button class="btn btn-primary w-50 button" (click)="goToTheses()">
                    <div>
                    <img src="../../../../assets/icons/study.png" style="width: 20%" alt="" srcset="">
                    <h5 class="mt-2">TESES</h5>
                </div>
                </button>
            </div>
        </div>
        </div>
    </div>
</div>