<ng-sidebar-container>

    <ng-sidebar [opened]="opened">
        <div class="mt-4 d-flex justify-content-end icon-nav">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="d-flex justify-content-start align-items-center p-3">
            <img src="../../../assets/img-perfil.png" alt="" class="img-fluid mt-5 mb-5" style="width: 60%;">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle btn" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Login
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

        </div>

        <ul class="list-group list-group-flush list">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
            </button>

            <div class="d-flex">
                <li class="list-group-item">
                    <img src="../../assets/home.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Início
                </li>
            </div>



            <div class="d-flex">
                <li class="list-group-item">
                    <img src="" alt="" srcset="" style="width: 25px; height: 25px;">
                    Novidades
                </li>
            </div>


            <div class="d-flex">
                <li class="list-group-item">
                    <img src="" alt="" srcset="" style="width: 25px; height: 25px;">
                    Artistas
                </li>
            </div>

            <div class="d-flex">
                <li class="list-group-item">
                    <img src="" alt="" srcset="" style="width: 25px; height: 25px;">
                    Apoio
                </li>
            </div>

            <div class="d-flex">
                <li class="list-group-item">
                    <img src="" alt="" srcset="" style="width: 25px; height: 25px;">
                    Quem Somos
                </li>
            </div>
            <div class="d-flex">
                <li class="list-group-item">
                    <img src="" alt="" srcset="" style="width: 25px; height: 25px;">
                    Sobre
                </li>
            </div>
            <div class="d-flex">
                <li class="list-group-item mt-5">
                    <img src="" alt="" srcset="" style="width: 25px; height: 25px;">
                    Playlist
                </li>
            </div>
        </ul>


    </ng-sidebar>

    <div ng-sidebar-content>
        <div class="menu-hamburguer position-fixed d-flex">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <h2 class="text-center ml-4">Inicio</h2>
            <div class="dropdown">
                <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../assets/icons/home.png" alt="" srcset="" style="height: 20px;">
                </a>

                <ul class="dropdown-menu mt-3 " aria-labelledby="dropdownMenuLink">
                    <li><input type="text" class="dropdown-item form-control pesquisa-bar"></li>
                </ul>
            </div>
        </div>



       
            <div class="row">
                <div class="col-md-3 navigator">
                    <div class="settings">
                    <div class="bar-settings">
                </div>
                </div>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <img src="{{photoUser}}" alt="" class="img-fluid img-settings" style="width: 50%; border-radius: 100%; height: 18vh">
                    </div>
                    <h4 class="text-center text-white">{{nameUser}}</h4>
                    <p class="text-center text-white">{{nicknameUser}}</p>
                    <hr class="w-50 mb-4">
                    <ul class="list-group list-group-flush list">
                        <div class="d-flex">
                            <li class="list-group-item link">
                                <img src="../../../assets/icons/home.png" alt="" srcset="" style="width: 25px; height: 25px;">
                                <a routerLink='/dashboard' routerLinkActive="active">Início</a>
                            </li>
                        </div>

                        <div class="d-flex">
                            <li class="list-group-item link">
                                <img src="../../../assets/icons/plus.png" alt="" srcset="" style="width: 25px; height: 25px;">
                                <a routerLink='/adicionar-livro' routerLinkActive="active">Adicionar Livro</a>
                            </li>
                        </div>

                        <div class="d-flex mt-1">
                            <li class="list-group-item link">
                                <img src="../../../assets/icons/escrevendo.png" alt="" srcset=""
                                    style="width: 25px; height: 25px;">
                                    <a routerLink="/notice" routerLinkActive="active">Anotações</a>
                            </li>
                        </div>


                        <div class="d-flex">
                            <li class="list-group-item link">
                                <img src="../../../assets/icons/excel.png" alt="" srcset=""
                                    style="width: 25px;">
                                <a routerLink='/excel'  routerLinkActive="active">Excel</a>
                            </li>
                        </div>

                        <div class="d-flex">
                            <li class="list-group-item link">
                                <img src="../../../assets/icons/support.png" alt="" srcset=""
                                    style="width: 25px;">
                                <a class="page" href="">Suporte</a>
                            </li>
                        </div>

                        <div class="d-flex">
                            <li class="list-group-item link">
                                <img src="../../../assets/icons/logout.png" alt="" srcset="" style="width: 25px;">
                                <a routerLink='/quem-somos' routerLinkActive="active" (click)="logout()">Sair</a>
                            </li>
                        </div>
                    </ul>
                    <hr class="w-50 mt-4">
                    <div class="w-100 text-center mt-5">
                    <img src="../../../assets/images/logo/alexandria-logo-mobile.png" alt="" width="70%">
                    </div>
                </div>
            </div>
        </div>
    
</ng-sidebar-container>










<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-login">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-4">
                <h6 class="text-white text-center">Cadastre-se e acompanhe os principais artistas LGBTQIA+</h6>
                <div class="p-4 mt-4">
                    <input type="text" class="form-control" placeholder="Nome" aria-label="Nome"
                        aria-describedby="basic-addon1">
                    <input type="text" class="form-control mt-3" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1">
                        <input type="password" class="form-control mt-3 mb-2" placeholder="Senha" aria-label="Senha"
                        aria-describedby="basic-addon1">
                    <span class="text-white">Use seis ou mais caracteres com uma combinação de letras, números e símbolos</span>
                    <input type="password" class="form-control mt-3" placeholder="Confirmar Senha" aria-label="Confirmar senha"
                        aria-describedby="basic-addon1">
                        <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-5 button">CADASTRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>