<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9 position">
    <form action="" method="post" #frm="ngForm" (ngSubmit)="postBook(frm)">
      <input id="titulo" name="titulo" type="text" placeholder="titulo" [(ngModel)]="post.titulo" />
      <input id="subtitulo" name="subtitulo" type="text" placeholder="subtitulo" [(ngModel)]="post.subtitulo" />
      <input id="autor" name="autor" type="text" placeholder="autor" [(ngModel)]="post.autor" />
      <input id="foto" name="foto" type="text" placeholder="link foto" [(ngModel)]="post.foto" />
      <input id="ano" name="ano" type="text" placeholder="ano" [(ngModel)]="post.ano" />
      <input id="genero" name="genero" type="text" placeholder="genero" [(ngModel)]="post.genero" />
      <input id="subgenero" name="subgenero" type="text" placeholder="subgenero" [(ngModel)]="post.subgenero" />
      <input id="idioma" name="idioma" type="text" placeholder="idioma" [(ngModel)]="post.idioma" />
      <input id="cidade" name="cidade" type="text" placeholder="cidade" [(ngModel)]="post.cidade" />
      <input id="nacional" name="nacional" type="text" placeholder="livro nacional?" [(ngModel)]="post.nacional" />
      <input id="lido" name="lido" type="text" placeholder="Já li?" [(ngModel)]="post.lido" />


      <div *ngIf="this.appApiService.bookType != 'teses'">
        <input id="edicao" name="edicao" type="text" placeholder="edicao" [(ngModel)]="post.edicao" />
        <input id="editora" name="editora" type="text" placeholder="editora" [(ngModel)]="post.editora" />
      </div>

      <div *ngIf="this.appApiService.bookType == 'kindle' || 'pdf' ">
        <input id="fisico" name="fisico" type="text" placeholder="tenho fisico?" [(ngModel)]="post.fisico" />
      </div>

      <div *ngIf="this.appApiService.bookType == 'pdf' ||  'teses'">
        <input id="pasta" name="pasta" type="text" placeholder="pasta" [(ngModel)]="post.pasta" />
      </div>

      <div *ngIf="this.appApiService.bookType == 'pdf'">
        <input id="kindle" name="kindle" type="text" placeholder="tenho kindle?" [(ngModel)]="post.kindle" />
      </div>

      <div *ngIf="this.appApiService.bookType == 'teses'">
        <input id="instituicao" name="instituicao" type="text" placeholder="instituição" [(ngModel)]="post.instituicao" />
        <input id="tipo" name="tipo" type="text" placeholder="tipo" [(ngModel)]="post.tipo" />
      </div>

      <button type="submit" [disabled]="frm.invalid" >salvar</button>
    </form>
  </div>
</div>
